/.claude
/0830제출용.py
/INTERNVL_SETUP.md
/TEST_03.jpg
/__pycache__
/baseline.py
/debug_json
/debug_visualizations
/doc_submission copy.py
/doc_submission.py
/document_processor.py
/dot.ipynb
/dot_ocr_baseline.py
/dot_ocr_baseline_2stage_submit.py
/dot_ocr_baseline_vis.py
/dot_ocr_baseline_vis_2stage.py
/dot_ocr_baseline_vis_2stage_qwen.py
/dot_ocr_baseline_vis_2stage_yolo.py
/dot_ocr_baseline_vis_json원문저장.py
/dot_ocr_baseline_vis_프롬프트.py
/dotocr.py
/dots_ocr_pipeline.py
/download_callisto.py
/download_internvl_model.py
/download_qwen_model.py
/main_callisto.py
/main_callisto_0906.py
/main_callisto_0906_2.py
/main_callisto_0907.py
/main_callisto_0907_2.py
/main_callisto_0908_2.py
/main_callisto_0909.py
/main_callisto_0909_2.py
/main_callisto_0909_2_yb.py
/main_callisto_0910_2.py
/main_callisto_TTA(0908).py
/main_callisto_taeho.py
/main_callisto_전처리_회전_0905.py
/main_callisto전처리.py
/main_dots_ocr_only.py
/main_inference.py
/main_intern.py
/main_layout_only.py
/main_layout_only_TTA(0907).py
/main_missi.py
/main_ovis.py
/main_qwen copy.py
/main_qwen.py
/main_qwen_taeho.py
/model
/modelloader.ipynb
/output
/paddle_test.ipynb
/plz.py
/preprocess_images
/qwen.py
/qwen2.py
/qwen3.py
/run_paddle.py
/save_as_fp16.py
/script22.py
/script_final.py
/submission.csv
/submission_0831테스트진짤ㅇ.csv
/vdu
/yeonbi
/yolov12l.py
/yolov12l_2.py
/yolov8.py
/시각화용.py